@font-face {
  font-family: 'Gilroy Light';
  src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/gilroy/Gilroylight.woff2') format('woff2'), url('../fonts/gilroy/Gilroylight.woff') format('woff'), url('../fonts/gilroy/Gilroylight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy ExtraBold';
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/gilroy/Gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroy/Gilroyextrabold.woff') format('woff'), url('../fonts/gilroy/Gilroyextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
.clearfix::after {
  content: "";
  
  display: table;
  clear: both;
}
body {
  min-width: 1200px;
  
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
}
.cut {
  min-width: 1160px;
  overflow: hidden;
}
.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}
.main-header {
  padding: 0 60px;
  padding-bottom: 165px;
  background: #f7e296;
}
.main-header .logo {
  position: relative;
  top: -16px;
  
  margin: 0;
  margin-top: 40px;
  margin-bottom: 5px;
}
.logo a {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  text-decoration: none;
  
  color: #000000;
}
.logo a:hover {
  color: #464646;
}
.logo a:active {
  color: #666666;
}
.user-block {
  margin-bottom: 29px;
}
.user-block a {
  line-height: 36px;
  text-decoration: none;
  color: #000000;
}
.user-block-search {
  position: relative;
  float: left;
  width: 438px;
}
.user-block-search::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  
  width: 20px;
  height: 20px;
  
  background: transparent url("../img/sprite.png") no-repeat -20px -478px;
}
.user-block .search-item {
  width: 250px;
  padding: 10px 40px;
  border: none;
  outline: none;
  
  background-color: #f7e296;
}
.user-block .search-item:focus {
  border-bottom: 1px solid #000000;
}
.user-block .search-btn {
  display: none;
  padding: 10px 20px;
  margin-top: -1px;
  margin-left: -4px;
  border: 1px solid #000000;
  
  outline: #000000;
  cursor: pointer;
  background-color: transparent;
}
.user-block .search-btn:hover {
  background-color: #000000;
  color: white;
}
.user-block .search-btn:active {
  background-color: #000000;
  color: #cccccc;
}
.search-item:focus ~ .search-btn, 
.search-item:active ~ .search-btn,  
.search-btn:hover  {
  display: inline-block;
  vertical-align: top;
}
.user-block-menu {
  float: right;
  width: 500px;
}
.user-block-menu a {
  position: relative;
  padding: 0 20px;
}
.user-block-menu a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  
  width: 15px;
  height: 15px;
  
  background: transparent url("../img/sprite.png") no-repeat -20px -534px;
}
.user-block-menu .compare::before {
  background-position: -20px -428px;
}
.user-block-menu .basket::before {
  background-position: -20px -376px;
}
.user-block-menu a:hover {
  opacity: 0.8;
}
.user-block-menu a:active {
  opacity: 0.5;
}
.user-block-menu .exit::before {
  background: none;
}
.user-block-menu .exit {
  padding-left: 0;
  
  opacity: 0.4;
}
.user-block-login {
  float: left;
  width: 260px;
}
.user-block-purchase {
  float: right;
  max-width: 220px;
}
.user-block-purchase a:first-child {
  padding-right: 30px;
}
.user-block-purchase a:last-child {
  padding-right: 0;
}
.main-navigation a {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000000;
}
.main-navigation a:hover {
  opacity: 0.5;
}
.main-navigation a:active {
  opacity: 0.2;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}
.main-navigation-left {
  position: relative;
  float: left;
  width: 540px;
}
.main-navigation-left .dropdown::before,
.main-navigation-left .dropdown::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 240px;
  
  width: 3px;
  height: 15px;
  
  background-color: #b8a974;
}
.main-navigation-left .dropdown::before {
  transform: rotate(90deg);
}
.main-navigation-left .catalog {
  position: absolute;
  z-index: 20;
  
  display: none;
  width: 1100px;
  min-height: 135px;
  margin-left: -60px;
  margin-top: 30px;
  padding-left: 60px;
  font-size: 0;
  
  background-color: #f7e296;
}
.main-navigation-left .catalog-items {
  display: inline-block;
  margin-right: 70px;
  
  font-size: 15px;
  line-height: 36px;
  
  vertical-align: top;
}
.catalog-items:nth-child(2) {
  margin-right: 80px;
}
.catalog-items:last-child {
  margin-right: 0;
}
.catalog-items a {
  font: inherit;
  text-transform: inherit;
  letter-spacing: 0;
}
.dropdown:focus ~ .catalog,
.dropdown:active ~ .catalog,
.catalog:hover {
  display: block;
}
.main-navigation-right {
  position: relative;
  
  float: right;
  max-width: 500px;
  
  font-size: 0;
}
.main-navigation-right::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -95px;
  
  width: 100px;
  height: 9px;
  
  background-color: #ffffff;
}
.main-navigation-right li {
  display: inline-block;
  margin-right: 36px;
  
  vertical-align: top;
  font-size: 18px;
}
.main-navigation-right li:nth-child(2) {
  margin-right: 111px;
}
.main-navigation-right li:nth-child(3) {
  margin-right: 0;
}
.slider {
  position: relative;
  margin-bottom: 105px;
}
.slider input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.slider-controls {
  position: absolute;
  right: -45px;
  top: 215px;
  z-index: 10;
  
  width: 200px;
  height: 10px;
  margin-bottom: -20px;
}
.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 20px;
  border: 3px solid #b2b2b2;
  border-radius: 50%;
  
  vertical-align: top;
  background-color: white;
  cursor: pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  border: 3px solid #000000;
}
.slide-image {
  float: left;
  width: 535px;
  margin-top: -110px;
  margin-left: 90px;
}
.slide-image-one {
  width: 384px;
  height: 486px;
}
.slide-image-two {
  width: 345px;
  height: 485px;
  margin-top: -100px;
  margin-left: 120px;
}
.slide-image-three {
  width: 526px;
  height: 334px;
  margin-top: -50px;
  margin-left: 35px;
}
.slide-text {
  float: right;
  width: 560px;
  margin-left: -30px;
}
.title {
  margin: 0;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  font-weight: bold;
}
.slide-text .title {
  position: relative;
  z-index: 10;
  
  width: 500px;
  margin-top: -30px;
  margin-bottom: 25px;
  
  line-height: 50px;
}
.slide-number {
  position: absolute;
  right: 48px;
  top: -51px;
  
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 179.2px;
  
  color: #ffffff;
}
.slide-descr {
  width: 480px;
  margin-bottom: 50px;
}
.slide-characteristic {
  width: 460px;
  margin-top: 65px;
  
  font-size: 0;
}
.slide-characteristic-items {
  display: inline-block;
  width: 160px;
  
  font-size: 13px;
  line-height: 20px;
  
  vertical-align: top;
}
.slide-characteristic-items:nth-child(3) {
  margin-left: -20px;
}
.slide-characteristic-items span {
  display: block;
}
.slide-characteristic-items .feature {
  margin-bottom: 20px;
  
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 100;
}
.slide {
  display: none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}
.btn {
  display: inline-block;
  width: 220px;
  
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  
  vertical-align: top;
  text-align: center;
  
  color: #000000;
}
.btn-background {
  position: relative;
}
.btn-background::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  
  width: 100%;
  height: 8px;
  margin-top: -4px;
  
  background-color: #f0c52e;
}
.btn-background:hover {
  background-color: #f0c52e;
}
.btn-background:active {
  color: #a88a20;
}
.other-menu {
  margin-bottom: 190px;
  
  font-size: 0;
}
.other-menu-items {
  display: inline-block;
  width: 160px;
  margin-right: 40px;
  
  vertical-align: top;
}
.other-menu-items:last-child {
  margin-right: 0;
}
.other-menu-item {
  display: block;
  min-height: 160px;
  margin-bottom: 30px;
  
  background-color: #f7e296;
  background-repeat: no-repeat;
  background-position: center;
}
.other-menu-item:hover {
  background-color: #f0c52e;
}
.other-menu-item:active {
  opacity: 0.7;
}
.other-menu-items .item-1 {
  background-image: url("../img/popular-1.png");
}
.other-menu-items .item-2 {
  background-image: url("../img/popular-2.png");
  background-position: bottom;
}
.other-menu-items .item-3 {
  background-image: url("../img/popular-3.png");
}
.other-menu-items .item-4 {
  background-image: url("../img/popular-4.png");
}
.other-menu-items .item-5 {
  background-image: url("../img/popular-5.png");
}
.other-menu-items .item-6 {
  background-image: url("../img/popular-6.png");
}
.other-menu-items p {
  margin: 0;
  
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
}
.other-menu-items a{
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  text-decoration: none;
  
  color: #000000;
}
.other-menu-items a:active {
  opacity: 0.5;
}
.service-slider {
  padding: 0 9999px;
  margin: 0 -9999px;
  padding-bottom: 105px;
  margin-bottom: 105px;
  
  background: #e5e5e5;
}
.service-slider input[type="radio"] {
  opacity: 0;
}
.service-slider-controls {
  position: relative;
  float: left;
  width: 284px;
  margin-top: -15px;
}
.service-slider-controls::before {
  content: "";
  position: absolute; 
  right: 0;
  top: -85px;
  
  width: 7px;
  height: 320px;
  
  background: #000000;
}
.service-slider-controls .btn {
  width: 160px;
  margin-bottom: 35px;
}
#btn-one:checked ~ .service-slider-controls label[for="btn-one"] {
  width: auto;
  padding-left: 25px;
  
  text-align: left;
  
  color: #f7e184;
  background: black;
}
.service-slider-controls label[for="btn-two"],
.service-slider-controls label[for="btn-three"] {
  background: linear-gradient(to bottom, transparent 10px, #f0c52e 5px, #f0c52e 17px, transparent 15px);
}
.service-slider-controls label[for="btn-two"]:hover,
.service-slider-controls label[for="btn-three"]:hover {
  background-color: #f0c52e;
}
.service-slider-controls label {
  display: block;
  cursor: pointer;
}
.service-slider-text {
  float: right;
  width: 760px;
  
  background: url("../img/delivery.png") no-repeat 560px;
  margin-top: -15px;
}
.service-slider-text .title {
  margin-bottom: 35px;
}
.service-slider-text .content {
  width: 450px;
}
.brands {
  margin-bottom: 145px;
  
  font-size: 0;
}
.brands-item { 
  display: inline-block;
  width: 260px;
  height: 100px;
  margin-right: 40px;
  
  vertical-align: top;
}
.brands-item:last-child {
  margin-right: 0;
}
.brands-item-djl {
  background: #ffffff url("../img/djl.png") no-repeat center;
}
.brands-item-gadgets {
  background: #ffffff url("../img/gadgets.png") no-repeat center;
}
.brands-item-gopro {
  background: #ffffff url("../img/gopro.png") no-repeat center;
}
.brands-item-vive {
  background: #ffffff url("../img/vive.png") no-repeat center;
}
.brands-item-djl:hover {
  background: #ffffff url("../img/djl2.png") no-repeat center;
}
.brands-item-gadgets:hover {
  background: #ffffff url("../img/gadgets2.png") no-repeat center;
}
.brands-item-gopro:hover {
  background: #ffffff url("../img/gopro2.png") no-repeat center;
}
.brands-item-vive:hover {
  background: #ffffff url("../img/vive2.png") no-repeat center;
}
.about-shop {
  margin-bottom: 85px;
}
.about-shop .title {
  position: relative;
  margin-bottom: 50px;
}
.about-shop .title::before {
  content: "";
  position: absolute;
  left: 3px;
  top: -60px;
  
  width: 80px;
  height: 8px;
  
  background-color: #000000;
}
.about-shop .content {
  margin-bottom: 35px;
}
.about-us {
  float: left;
  width: 475px;
}
.about-shop .delivery {
  margin: 0;
  margin-top: 70px;
  margin-bottom: 65px;
  padding: 0;
  
  list-style: none;
}
.delivery li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 16px;
}
.delivery li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  
  width: 5px;
  height: 5px;
  border: 3px solid #cccccc;
  border-radius: 50%;
  
  background-color: #ffffff;
}
.about-contacts {
  float: right;
  width: 560px;
}
.detail {
  margin-left: 20px;
}
.about-contacts .map {
  width: 560px;
  height: 222px;
  margin-top: 40px;
  margin-bottom: 65px;
  border: none;
  outline: none;
}
.main-footer {
  padding: 0 9999px;
  margin: 0 -9999px;
  padding-top: 67px;
  padding-bottom: 67px;
  
  background: #464646;
}
.footer-menu {
  margin-bottom: 20px;
}
.logo-title {
  float: left;
  width: 160px;
}
.logo-title a {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  text-decoration: none;
  
  color: #f7e184;
}
.logo-title a:hover {
  color: #f0c52e;
}
.logo-title a:active {
  opacity: 0.5;
}
.footer-menu-list {
  float: right;
  max-width: 560px;
  margin: 0;
  padding: 0;
  margin-top: -8px;
  
  font-size: 0;
  list-style: none;
  
}
.footer-menu-list li {
  display: inline-block;
  
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  
  vertical-align: top;
}
.footer-menu-list a {
  position: relative;
  display: block;
  padding: 0 62px;
  
  text-decoration: none;
  color: #b5b5b5;
}
.footer-menu-list a:last-child {
  padding-right: 0;
}
.footer-menu-list a::before {
  content: "";
  position: absolute;
  left: 37px;
  top: 13px;
  
  width: 20px;
  height: 20px;
  
  background: transparent url("../img/sprite.png") no-repeat;
  opacity: 0.5;
}
.footer-menu-list a:hover::before {
  opacity: 1;
}
.footer-menu-list a:hover {
  color: white;
}
.footer-menu-list a:active::before,
.footer-menu-list a:active {
  opacity: 0.4;
}
.footer-menu-list .login::before {
  background-position: -20px -892px;
}
.footer-menu-list .compare::before {
  background-position: -20px -174px;
}
.footer-menu-list .basket::before {
  background-position: -20px -72px;
}
.contacts {
  margin-bottom: 60px;
}
.contacts-data {
  max-width: 205px;
  float: left;
  
  color: #b2b2b2;
}
.contacts-menu {
  float: left;
  width: 500px;
  margin: 0 auto;
  padding: 0;
  margin-left: 172px;
  
  font-size: 0;
  list-style: none;
}
.contacts-menu li {
  display: inline-block;
  margin-right: 32px;
  
  vertical-align: top;
}
.contacts-menu li:last-child {
  margin-right: 0;
}
.contacts-menu a {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  
  color: white;
}
.contacts-menu a:hover {
  opacity: 0.5;
}
.contacts-menu a:active {
  opacity: 0.4;
}
.contact-data-right {
  float: right;
}
.social {
  position: relative;
  width: 180px;
  margin: 0 auto;
  text-align: center;
}
.social::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -488px;
  width: 80px;
  height: 8px;
  
  background-color: #f7e184;
}
.social-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  
  font-size: 0;
  vertical-align: top;
  
  background: transparent url("../img/sprite.png") no-repeat center;
  opacity: 0.3;
}
.social-btn:last-child {
  margin-right: 0;
}
.social-btn-fb {
  background-position: -20px -224px;
}
.social-btn-ins {
  background-position: -20px -586px;
}
.social-btn-twit {
  background-position: -20px -762px;
}
.social-btn:hover {
  opacity: 1;
}
.social-btn:active {
  opacity: 0.1;
}
.copyright {
  float: right; 
  width: 27px;
  height: 34px;
  margin-top: -43px;
}
.copyright .academy {
  display: block;
  height: 100%;
  
  font-size: 0;
  
  background: transparent url("../img/htmlacademy.png") no-repeat 50% 50%;
}
.academy:hover {
  background: transparent url("../img/htmlacademy-hvr.png") no-repeat 50% 50%;
}
.academy:active {
  background: transparent url("../img/htmlacademy-hvr.png") no-repeat 50% 50%;
  opacity: 0.5;
}
.header-cut {
  padding-bottom: 50px;
}
.page-catalog {
  margin-left: 60px;
}
.category-title {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 47px;
}
.breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  
  list-style: none;
}
.breadcrumbs li {
  display: inline-block;
  padding: 0 20px;
  
  vertical-align: top;
}
.breadcrumbs li:first-child {
  padding-left: 0;
}
.breadcrumbs a {
  position: relative;
  text-decoration: none;
  
  color: #bcbcbc;
}
.breadcrumbs a:hover {
  color: black;
}
.breadcrumbs a:active {
  opacity: 0.2;
}
.breadcrumbs a::before,
.breadcrumbs a::after {
  content: "";
  position: absolute;
  right: -25px;
  bottom: 6px;
  
  width: 6px;
  height: 2px;
  
  background: #000000;
}
.breadcrumbs a::before {
  transform: rotate(45deg);
  bottom: 10px;
}
.breadcrumbs a::after {
  transform: rotate(-55deg);
}
.breadcrumbs .active::after,
.breadcrumbs .active::before{
  display: none;
}
/*.ware {
  margin-bottom: 90px;
}*/
.products-filter {
  float: left;
  width: 200px;
  min-height: 1290px;
  padding-left: 9999px;
  margin-left: -9999px;
  
  padding-right: 68px;
  
  font-size: 14px;
  
  background-color: #eeeeee;
}
.products-filter legend {
  width: 200px;
  margin-bottom: 20px;
  padding-top: 10px;
  border-top: 2px solid black;
  
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
}
.products-filter fieldset {
  border: none;
}
.products-filter-title {
  padding-left: 9999px;
  margin-left: -9999px;
  
  margin-right: -70px;
  
  padding-top: 20px;
  padding-bottom: 20px;
  
  margin-bottom: 65px;
  
  background-color: #dbdbdb;
}
.products-filter-title,
.sort-item {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.range-filter {
  width: 200px;
  margin-bottom: 14px;
}
.range-controls {
  position: relative;
  margin-bottom: 5px;
}
.range-controls .scale {
  height: 2px;
  margin-bottom: 15px;
  
  background-color: #dbdbdb;
}
.range-controls .bar {
  height: 2px;
  background-color: #91c92f;
}
.range-controls .toggle {
  position: absolute;
  top: -6px;
  
  width: 10px;
  height: 10px;
  border: 2px solid #000;
  border-radius: 50%;
  
  background-color: #eee;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 0;
}
.range-controls .toggle-max {
  left: 115px;
}
.products-filter input[type="checkbox"],
.products-filter input[type="radio"]{
  display: none;
}
.products-filter label {
  display: block;
  padding-left: 30px;
  
  font-size: 14px;
  line-height: 40px;
  
  cursor: pointer;
}
.products-filter input,
.products-filter label {
  margin-bottom: 0;
}
.color-checkbox {
  position: relative;
}
.checkbox-indicator {
  position: absolute;
  left: 0;
  top: 10px;
  
  width: 20px;
  height: 20px;
  
  background-color: #dbdbdb;
}
.checkbox-indicator:hover {
  background-color: #cecece;
}
.checkbox-indicator:active {
  background-color: #c4c4c4;
}
.color-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.color-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 5px;
  
  width: 2px;
  height: 10px;

  background-color: #000000;
}
.color-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  top: 4px;
  left: 11px;
  transform: rotate(45deg);
}
.color-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  height: 7px;
  transform: rotate(-45deg);
}
.radio-bluetooth {
  position: relative;
}
.radio-indicator {
  position: absolute;
  left: 0;
  top: 10px;
  
  width: 17px;
  height: 17px;
  border: 2px solid #c6c6c6;
  border-radius: 50%;
  
  background-color: transparent;
}
.radio-indicator:active {
  border-color: #b5b5b5;
}
.radio-bluetooth input[type="radio"]:checked + .radio-indicator::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  
  width: 5px;
  height: 5px;
  border: 2px solid #000;
  border-radius: 50%;

  background-color: transparent;
}
.products-filter .btn {
  margin-top: 30px;
  border: none;
  cursor: pointer;
  background: linear-gradient(to bottom, transparent 3px, #f0c52e 10px, #f0c52e 14px, transparent 15px); 
}
.products-filter .btn:hover {
  background-color: #f0c52e;
}
.products-catalog {
  position: relative;
  float: right;
  width: 832px;
  margin-bottom: 75px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  display: inline-block;
  margin: 0;
  padding: 0;
  
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px;
  
  vertical-align: top;
  color: #d2d2d2;
}
.price-controls input {
  width: 70px;
  text-align: left;
  
  border: 0;
  outline: 0;
  
  color: #d2d2d2;
  background-color: #eee;
}
.products-catalog .sort {
  margin-bottom: 70px;
  padding-right: 9999px;
  margin-right: -9999px;
  padding-left: 72px;
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 14px;
  background: #ebebeb;
}
.sort-left {
  float: left;
  width: 500px;
}
.sort-right {
  float: right;
  max-width: 100px;
}
.sort-item {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 60px;
}
.sort-item-functions {
  padding-right: 22px;
  
  font-size: 14px;
  color: #adadad;
  text-decoration: none;
}
.sort-item-functions:hover {
  color: #666666;
}
.sort-item-functions:active {
  color: #000;
}
.sort-arrow {
  display: inline-block;
  margin-right: 20px; 
  
  vertical-align: middle;
}
.sort-arrow:last-child {
  margin-right: 0;
}
.sort-arrow-bottom {
  margin-bottom: -6px;
  border: 8px solid transparent;	
  border-top: 8px solid #bcbcbc;
}
.sort-arrow-top {
  margin-bottom: 10px;
  border: 8px solid transparent;	
  border-bottom: 8px solid #bcbcbc;
}
.sort-arrow-bottom:hover {
  border: 8px solid transparent;	
  border-top: 8px solid #999;
}
.sort-arrow-top:hover {
  border: 8px solid transparent;	
  border-bottom: 8px solid #999;
}
.sort-arrow-bottom:active {
  border: 8px solid transparent;	
  border-top: 8px solid #000;
}
.sort-arrow-top:active {
  border: 8px solid transparent;	
  border-bottom: 8px solid #000;
}
.products {
  font-size: 0;
}
.products-item {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  
  font-size: 18px;
  vertical-align: top;
}
.products-item .new {
  position: absolute;
  right: 25px;
  top: 35px;
  
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  padding: 15px 15px;
  
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.add-window {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 220px;
  margin-top: -50px;
  
  text-align: center;
  display: none;
}
.add-window .btn {
  margin-bottom: 25px;
}
.add-window a{
  display: block;
}
.add-window .add-purchase {
  font-size: 13px;
  line-height: 36px;
  text-decoration: none;
  
  color: #717171;
}
.add-window .add-purchase:hover {
  color: black;
}
.add-window .add-purchase:active {
  opacity: 0.4;
}
.products-item:hover {
  opacity: 0.8;
}
.products-item:hover .add-window{
  display: block;
}
.products-item:nth-child(2n) {
  margin-right: 0;
}
.products-item:nth-child(odd) {
  margin-left: 70px;
}
.products-item-description {
  margin-top: 20px;
  margin-bottom: 48px;
}
.products-item-description p {
  display: inline-block;
  
  vertical-align: top;
}
.products-item-description .name {
  margin: 0;
  margin-right: 20px;
  width: 265px;
  
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 25px;
}
.products-item-description .money {
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 16px;
}
.pagination {
  padding: 25px 0px;
  margin-left: 65px;
  margin-top: -20px;
  
  background-color: #ebebeb;
}
.pagination a {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  
  color: #000;
}
.pagination .back-page {
  float: left;
}
.pagination-number {
  float: left;
  margin-left: 250px;
}
.pagination-number a {
  margin-right: 20px;
  
  color: #bcbcbc;
}
.pagination .next-page {
  float: right;
}
.pagination-number .active {
  pointer-events: none;
  cursor: default;
  
  color: #000;
}
.pagination-direction {
  padding: 30px;
}
.pagination-direction:hover {
  background-color: #d9d9d9;
}
.pagination-direction:active {
  background-color: #d9d9d9;
  color: #979797;
}
@keyframes bounce{
	0%{
		transform: translateY(-2000px);
	}
	70%{
		transform: translateY(30px);
	}
	90%{
		transform: translateY(-10px);
	}
	100%{
		transform: translateY(0);
	}
}
.feedback { 
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 50;  

  margin: auto;

  width: 760px;
  height: 316px;
  padding: 0 100px;
  padding-top: 100px;
  padding-bottom: 200px;

  color: #000;
  background-color: #fff;
  box-shadow: 0px 10px 20px 5px #ebebeb;
}
.feedback-show{
  display: block;
  animation: bounce 0.6s;
}
.feedback-close {
  position: absolute;
  top: 6px;
  right: 6px;

  width: 40px;
  height: 40px;

  font-size: 0;

  background-color: #f7e296;
  border: 0;
  outline: 0;
  border-radius: 20px;
  cursor: pointer;
}
.feedback-close::before,
.feedback-close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 18px;

  width: 3px;
  height: 26px;

  background-color: #fff;
  border-radius: 1px;
}
.feedback-close::before {
  transform: rotate(45deg);
}
.feedback-close::after {
  transform: rotate(-45deg);
}
.feedback-close:hover {
  background-color: #f0c52e;
}
.feedback-close:active::before,
.feedback-close:active::after {
  opacity: 0.4;
}
.feedback-popup label {
  display: block;
  margin-bottom: 5px;
  
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
}
.feedback-contact {
  display: inline-block;
  margin-right: 40px;
  
  vertical-align: top;
}
.feedback-contact:nth-child(2) {
  margin-right: 0;
}
.feedback-contact input[type="text"] {
  width: 314px;
  padding: 15px 20px;
}
.feedback-contact input[type="text"],
.feedback-message textarea {
  border: none;
  outline: 2px solid #e5e5e5;
  background-color: #f2f2f2;
}
.feedback-contact input[type="text"]:hover,
.feedback-message textarea:hover {
  background-color: #ebebeb;
}
.feedback-contact input[type="text"]:focus,
.feedback-message textarea:focus {
  background-color: #fff;
}
.feedback-message {
  margin-top: 35px;
}
.feedback-message textarea {
  width: 710px;
  height: 156px;
  padding: 20px 20px;
  margin-bottom: 50px;
  
  background-color: #f2f2f2;
}
.feedback-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background: linear-gradient(to bottom, transparent 0px, #f0c52e 15px, #f0c52e 15px, transparent 15px);
}
.feedback-btn:hover {
  background-color: #f0c52e;
}
.map-popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 50;  

  margin: auto;
  width: 960px;
  height: 560px;
  background: transparent url("../img/map-big.jpg") no-repeat;
}
.map-popup-close {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 40px;
  height: 40px;

  font-size: 0;

  background-color: #f7e296;
  border: 0;
  outline: 0;
  border-radius: 20px;
  cursor: pointer;
}
.map-popup-close::before,
.map-popup-close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 18px;

  width: 3px;
  height: 26px;

  background-color: #fff;
  border-radius: 1px;
}
.map-popup-close::before {
  transform: rotate(45deg);
}
.map-popup-close::after {
  transform: rotate(-45deg);
}
.map-popup-close:hover {
  background-color: #f0c52e;
}
.map-popup-close:active::before,
.map-popup-close:active::after {
  opacity: 0.4;
}