@font-face {
    font-family: 'gilroy';
    src: url('gilroy-extrabold-webfont.eot');
    src: url('gilroy-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('gilroy-extrabold-webfont.woff2') format('woff2'),
         url('gilroy-extrabold-webfont.woff') format('woff'),
         url('gilroy-extrabold-webfont.ttf') format('truetype'),
         url('gilroy-extrabold-webfont.svg#gilroyextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

