@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-extrabold-webfont.eot');
    src: url('gilroy/gilroy-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('gilroy/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('gilroy/gilroy-extrabold-webfont.woff') format('woff'),
         url('gilroy/gilroy-extrabold-webfont.ttf') format('truetype'),
         url('gilroy/gilroy-extrabold-webfont.svg#gilroyextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

